body {
	font-family: "Open Sans";
}
main {
	margin-top: 20px;
}
footer {
	text-align: center;
	margin-top: 20px;
}
.align-right {
	text-align: right;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { 
	vertical-align: middle;
}