body {
	font-family: 'Open Sans', sans-serif;
}
#crsms-logo {
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    margin-top: 10px;
}
main {
	margin-top: 20px;
}
footer {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px !important;
}

/*already in bootstrap: .text-right etc.*/
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
/**/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { 
	vertical-align: middle;
}