main {
	min-height: 200px;
}
.carousel-inner>.item {
	text-align: center;
}
.carousel-inner>.item>img {
	display: inline;
	height: 200px;
}
.carousel-caption {
	background: rgba(0, 0, 0, 0.72);
	border-radius: 20px;
	font-size: 20px;
}