th, .managementCell {
	text-align: center;
}

div .orangeQuote {
	border-left: 4px solid #ff8000!important;
}

.full-div {
	width: 100%;
	font-weight: bold;	
}

.hover-div:hover {
	cursor: pointer;
	text-decoration: underline;
}

p, .panelHeaderText {
	font-size: 15px;
}

.nonUnderlineEdit {
	text-decoration: none;
	color: #337AB7;
}

.nonUnderlineDelete {
	text-decoration: none;
	color: #d9534f;
}

.nonUnderlineEdit:hover {
	text-decoration: none;
	color: #286090;
}

.nonUnderlineDelete:hover {
	text-decoration: none;
	color: #ac2925;
}

.checkbox-inline {
    font-size: 14px;
	color: #337ab7;
}

.align-center {
	text-align: center;
	color: #F9AC50;
}

.form-horizontal .checkbox-inline {
	margin-top: -5px;
}