.table {
	margin: 20px 0px;
}
.modal-resource-body {
	font-size: 15px; 
	font-weight: 600;
}
.resource-form-control-disabled {
	border: none;
    box-shadow: none;
}

.errorTxt {
	font-weight: bold;
	color: red;
	margin-right: 15px;
}