/*courses view*/
.course-grid {
    padding: 5px;
}
.course-grid .course-inner-wrapper {
	padding: 1px 20px 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(179,179,179,1);
	-moz-box-shadow: 0px 0px 1px 0px rgba(179,179,179,1);
	box-shadow: 0px 0px 1px 0px rgba(179,179,179,1);
}
.course-grid .course-inner-wrapper:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(9, 4, 3, 0.86);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(9, 4, 3, 0.86);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(9, 4, 3, 0.86);
}
.course-title a {
	text-decoration: none;
}
.course-grid .course-date {
	margin-bottom: 10px;
}
.course-grid .course-info {
	height: 220px;
}
.course-grid .course-control {
	position: relative;
}
.course-add .fa {
	font-size: 50px;
}
#courses-nav .search {
	display: inline-block;
}
#search-form {
	margin-top: 0;
	margin-bottom: 10px;
	min-height: 0;
}

/*course view*/
#course-wrapper {
	position: relative;
	margin-bottom: 20px;
}
#course-wrapper:after {
	position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0px 60px;
    border-color: #ffffff transparent transparent transparent;
}
#course-wrapper .course-title {
	text-align: center;
}
#course-wrapper .course-desc {
	font-size: 15px;
	max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: justify;
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;
}
#main-container.course-container {
	padding-top: 0;
	padding-bottom: 0;
}
#course-modules-wrapper {
	background-color: #E6E6E6;
	padding-top: 50px;
}
.course-module-grid {
	border-top: 1px solid #8E8E8E;
	padding-bottom: 40px;
}
.module-unit-grid .btn {
	display: block;
	margin: 2px 0;
	white-space: normal;
}
.module-desc {
	text-align: justify;
}

/*courses_table view*/
#courses-table-wrapper table {
	margin-top: 10px;
}