<web-app>
	<error-page>
		<error-code>403</error-code>
		<location>/403</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>

	<context-param>
		<param-name>apiUrl</param-name>
		<param-value>http://localhost:8080/crsms/api</param-value>
	</context-param>
</web-app>